[submodule "themes/cactus"]
	path = themes/cactus
	url = https://github.com/augustebaum/hugo-theme-cactus
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
