<h3>{{ i18n "links.title" }}</h3>
<ul id="links">
    <li>
        <a href="mailto:auguste.baum@protonmail.com">E-mail</a>
    </li>
    <li>
        <a href="https://github.com/augustebaum/typst-moderncv/blob/main/cv.pdf">CV</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/auguste-baum/">LinkedIn</a>
    </li>
    <li>
        <a href="https://fosstodon.org/@augustebaum">Mastodon</a>
    </li>
    <li>
        <a href="https://github.com/augustebaum">GitHub</a>
    </li>
</ul>
